<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="X1"/>
    <arg name="robot_type" default="x1"/>

    <include file="$(dirname)/footprint.launch" pass_all_args="true">
        <arg name="base_link" value="$(arg robot)/base_link"/>
        <arg name="base_footprint" value="$(arg robot)/base_footprint"/>
        <arg name="z_offset" value="$(eval {'explorer_x1': -0.132, 'marv': -0.15, 'tradr': -0.07, 'x1': -0.132, 'dtr': -0.092426}.get(robot_type, 0.0))"/>
    </include>
</launch>
